:root {
    scroll-behavior: auto;
}

.navbar {
    position:fixed;
    width:100%;
    z-index:5;
}
.navbar-brand {
    font-size:30px;
    transition:all 1s;
}

.black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 6;
    padding: 30px;
    display:none;
  }
.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
} 
.show-modal {
    display:block;
}

.list-group {
    display:none;
}
.show {
    display:block;
}
.main-bg {
    padding:100px 20px;
    background-color: lightgrey;
}

.slide-container {
    width:300vw; 
    /* margin-left:-200vw; */
    transition: all 1s;    
    /* transform: translateX(-100vw); 최종화면 */

}
.slide-box {
    width:100vw;
    float:left;
}
.slide-box img {
    width:100%
}