body {
    margin: 0;
    height: 2000px;
    background: black;
}
section {
    height: 100vh;
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/945eec79-6856-4d95-b4c6-83ff5292f33d/KR-ko-20220111-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}
section:before {
    content:'';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0; /*왼쪽에 공간여백 주지 말고 시작하라*/
    height: 100%;
    width: 100%; /*콘텐츠의 사이즈를 지정해줌*/
}
h1 {
    color: white;
    font-size: 6em;
    position: absolute;
    top: 200px;
    left: 50px;
    font-family: sans-serif;
}
h2 {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 380px;
    left: 50px;
    font-family: sans-serif;
}